.rounded-application {
    -fx-background-color: transparent;
}

.content-pane {
    -fx-background-color: #FFFFFF;
}

.nav-pane {
    -fx-background-color: #0B1021;
    -fx-border-color: transparent;
    -fx-border-width: 0.4px 0px 0.4px 0.4px;
}

.menu-pane {
    -fx-background-color: #FFFFFF;
}

.button-close {
    -fx-background-color: #F36935;
}

.button-close:hover {
    -fx-background-color: #F58E67;
}

.button-maximize {
    -fx-background-color: #FFB519;
}

.button-maximize:hover {
    -fx-background-color: #FFC64F;
}

.button-minimize {
    -fx-background-color: #89F112;
}

.button-minimize:hover {
    -fx-background-color: #B0F565;
}