.label1 {
    -fx-text-fill: #FFFFFF;
}

.button1 {
    -fx-background-color: #1D1E3D;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-fill: #FFFFFF;
}

.button1:hover {
    -fx-background-color: #333450;
}

.button1:pressed {
    -fx-translate-y: 2px;
}

.info-box {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: linear-gradient(to bottom right, #f1a4eb, #6387ff);
}

.campaign-item {
    -fx-background-color: #1D1E3D;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.mask {
    -fx-background-color: #000000;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-opacity: 0.8;
}
