@font-face {
    src: url("../font/Inter-Light.ttf");
}

.button-searchButton {
    -fx-background-color: transparent;
}

.search_image {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-image: url("../image/searchImage.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.search_image:hover {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-image: url("../image/searchAnimation.gif");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.button-add{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-image: url("../image/add-word.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.button-add:hover {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-image: url("../image/add-word.gif");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

}


.textField-searchBar {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-style: italic;
    -fx-font-family: "Inter Light";
    -fx-alignment: center-left;
    -fx-padding: 5;
    -fx-background-color: #1D1E3D;
}

.tab-pane {
    -fx-background-color: #0B1021;

}

.scroll-pane-wordsPane {
    -fx-background-color: #0B1021;
    -fx-background-image: url('../image/imagegroup.png');
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.label- {
    -fx-text-fill: linear-gradient(to bottom right, #6387FF, #F1A4EB);
    -fx-font-weight: Bold;
    -fx-font-style: italic;
}
