.button-searchButton {
    -fx-background-color: transparent;

}
.textField-searchBar {
    -fx-text-fill: black;
    -fx-prompt-text-fill: black;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 4;
    -fx-border-color: #31B2B0;
    -fx-font-style: italic;
    -fx-font-family: "Times New Roman";
    -fx-alignment: center-left;
    -fx-padding: 5;
}
.tab-pane {
    -fx-background-radius: 0px 0px 20px 20px;
    -fx-background-color: B4DDD3;

}
.scroll-pane {
    -fx-background-color: #C4C4C4;
}
