@font-face {
    src: url("../font/Signika-Bold.ttf");
}

.text-input {
    -fx-background-radius: 30;
    -fx-background-color: #F5F8FA;
    -fx-font-family: "Signika";
}

.save-button {
    -fx-font-size: 20px;
    -fx-background-radius: 15;
    -fx-background-color: #FFC75A;
    -fx-text-fill: white;
    -fx-font-family: "Signika Bold";
    -fx-effect: dropshadow(gaussian, #D8ADAD, 20, 0, 0, 0);
}

.save-button:hover {
    -fx-font-size: 12px;
    -fx-background-radius: 15;
    -fx-background-color: #F3D1DC;
    -fx-text-fill: white;
    -fx-font-family: "Signika Bold";
}

.primary-color {
    -fx-background-color: #B4DDD3;
}

.font-label {
    -fx-font-family: "Signika Bold";
    -fx-font-size: 20px;
    -fx-text-fill: #444766;
}
.font-family {
    -fx-font-family: "Signika Bold";
}