@font-face {
    src: url("../font/Inter-Light.ttf");
}

@font-face {
    src: url("../font/Inter-Regular.ttf");
}

@font-face {
    src: url("../font/Inter-SemiBold.ttf");
}

/* ===================================== Button ===================================== */
.learn-button {
    -fx-font-family: "Inter";
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-stroke-width: 5px, 5px, 5px, 0px;
    -fx-background-color: #1D1E3D;
    -fx-effect: dropshadow(gaussian, #333450, 20, 0, 0, 0);
    -fx-alignment: CENTER;

    -fx-border-color: linear-gradient(to bottom right, #f1a4eb, #6387ff);
    -fx-border-width: 1 1 1 1;
}

.learn-button:pressed {
    -fx-translate-y: 2px;
}

.learn-button:disabled {
    -fx-background-color: #A5A8B6;
}

.learn-button:hover {
    -fx-background-color: #333450;
}

.button-correct-answer {
    -fx-font-family: "Inter";
    -fx-font-size: 16px;
    -fx-text-fill: #F5F8FA;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-stroke-width: 5px, 5px, 5px, 0px;
    -fx-background-color: #5e47ff;
    -fx-border-color: linear-gradient(to bottom right, #f1a4eb, #6387ff);
    -fx-translate-y: 2px;
    -fx-alignment: CENTER;
}

.button-wrong-answer {
    -fx-font-family: "Inter";
    -fx-font-size: 16px;
    -fx-text-fill: #000000;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-stroke-width: 5px, 5px, 5px, 0px;
    -fx-background-color: #FFBFBF;
    -fx-border-color: linear-gradient(to bottom right, #f1a4eb, #6387ff);
    -fx-translate-y: 2px;
    -fx-alignment: CENTER;
}

.button-close-learn {
    -fx-background-color: transparent;
}

.button-close-learn:pressed {
    -fx-translate-y: 2px;
}

/* ===================================== ProgressBar ===================================== */
.progress-bar {
    -fx-indeterminate-bar-length: 60;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 2;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

.progress-bar > .track {
    -fx-background-color: #E8F1FA;
    -fx-background-insets: 0;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(to bottom right, #f1a4eb, #6387ff);
    -fx-background-insets: 0;
    -fx-padding: 0.4%;
}

.progress-bar:disabled {
    -fx-opacity: 0.4;
}

.progress-label {
    -fx-font-family: "Inter";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 13px;
}

/* ===================================== Label ===================================== */
.label-content {
    -fx-font-family: "Inter";
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
}

/* ===================================== Pane ===================================== */
.upper {
    -fx-background-color: #0B1021;
}

.footer {
    -fx-background-color: #5e47ff;
}

.message-pane-correct {
    -fx-background-color: #5e47ff;
}

.message-pane-wrong {
    -fx-background-color: #FFBFBF;
}

.message-border {
}

.question-pane {
    -fx-background-color: #333450;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

/* ===================================== Pane ===================================== */
.home-item {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: #1D1E3D;
}