@font-face {
    src: url("../font/Signika-Light.ttf");
}

@font-face {
    src: url("../font/Signika-Bold.ttf");
}

@font-face {
    src: url("../font/Signika-SemiBold.ttf");
}

.root {
    black: #000000;
    white: #FFFFFF;
    whitesmoke: #F5F8FA;
    lightskyblue: #C9E6FF;
    aquamarine: #B4DDD3;
    goldenrod: #FFC75A;
    godenrod10: #FFC75A 10%;
    lightgray: #C4C4C4;
    darkblue: #5D8DBF;
    midnightblue: #444766;
    progressbartrack: #E8F1FA;
    lightred: #FFBFBF;
}

/* ===================================== Button ===================================== */
.learn-button {
    -fx-font-family: "Signika-Bold";
    -fx-font-size: 16px;
    -fx-text-fill: #F5F8FA;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-stroke-width: 5px, 5px, 5px, 0px;
    -fx-background-color: #FFC75A;
    -fx-effect: dropshadow(gaussian, #FBD48C, 20, 0, 0, 0);
    -fx-alignment: CENTER;
}

.learn-button:pressed {
    -fx-translate-y: 2px;
}

.learn-button:disabled {
    -fx-background-color: #C4C4C4;
}

.learn-button:hover {
    -fx-background-color: #FFDB99;
}

.button-correct-answer {
    -fx-font-family: "Signika-Bold";
    -fx-font-size: 16px;
    -fx-text-fill: #F5F8FA;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-stroke-width: 5px, 5px, 5px, 0px;
    -fx-background-color: #B4DDD3;
    -fx-effect: dropshadow(gaussian, #C8EAE2, 20, 0, 0, 0);
    -fx-translate-y: 2px;
    -fx-alignment: CENTER;
}

.button-wrong-answer {
    -fx-font-family: "Signika-Bold";
    -fx-font-size: 16px;
    -fx-text-fill: #000000;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-stroke-width: 5px, 5px, 5px, 0px;
    -fx-background-color: #FFBFBF;
    -fx-effect: dropshadow(gaussian, #D8ADAD, 20, 0, 0, 0);
    -fx-translate-y: 2px;
    -fx-alignment: CENTER;
}

.button-close-learn {
    -fx-background-color: transparent;
}

.button-close-learn:pressed {
    -fx-translate-y: 2px;
}

/* ===================================== ProgressBar ===================================== */
.progress-bar {
    -fx-indeterminate-bar-length: 60;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 2;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

.progress-bar > .track {
    -fx-background-color: #E8F1FA;
    -fx-background-insets: 0;
}

.progress-bar > .bar {
    -fx-background-color: #95CBF8;
    -fx-background-insets: 0;
    -fx-padding: 0.4%;
}

.progress-bar:disabled {
    -fx-opacity: 0.4;
}

.progress-label {
    -fx-font-family: "Signika Light";
    -fx-font-size: 13px;
}

/* ===================================== Label ===================================== */
.label-content {
    -fx-font-family: "Signika SemiBold";
    -fx-font-size: 16px;
}

/* ===================================== Pane ===================================== */
.upper {
    -fx-background-color: #F5F8FA;
    -fx-background-radius: 0% 0% 5% 5%;
    -fx-effect: dropshadow(gaussian, #E3F2FF, 10, 0, 0, 15);
}

.footer {
    -fx-background-color: #B4DDD3;
    -fx-background-radius: 15% 15% 0% 0%;
}

.message-pane-correct {
    -fx-background-color: #B4DDD3;
}

.message-pane-wrong {
    -fx-background-color: #FFBFBF;
}

.message-border {
    -fx-background-radius: 15% 15% 0% 0%;
}

.question-pane {
    -fx-background-color: #F5F8FA;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}