@font-face {
    src: url("../font/Inter-Bold.ttf");
}

@font-face {
    src: url("../font/Inter-Medium.ttf");
}

.back_ground {
    -fx-background-color: #0B1021;
}

.pane {
    -fx-background-color: #1D1E3D;
    -fx-background-radius: 10px;
}

.label {
    -fx-font-family: "Trebuchet MS";
    -fx-text-fill : #FFFFFF;
}

.name_label {
    -fx-font-family: "Trebuchet MS";
    -fx-text-fill: linear-gradient(to bottom right, #6387FF, #F1A4EB);
}

.mail_image {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-image: url("../image/mail.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.phone_image {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-image: url("../image/phone.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.dob_image {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-image: url("../image/dob.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.github_image {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-image: url("../image/github.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.pen {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-image: url("../image/pen.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.setting {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-image: url("../image/setting.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.about_me {
    -fx-background-color: #A5A8B6;
    -fx-background-radius: 10px;
}

.button_color {
    -fx-background-color: linear-gradient(to bottom right, #6387FF, #F1A4EB);
    -fx-text-fill: white;
}

.quote {
    -fx-font-family: "Georgia";
    -fx-text-fill : #FFFFFF;
}
.rectangle {
    -fx-fill: #A5A8B6;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    /*-fx-background-radius: 10px;*/
}