

.scroll-pane {
    -fx-background-radius: 10;
    -fx-text-fill: #D3D5DB;
    -fx-background-color: rgba(29, 30, 61, 0.7);

}

.label-labelPartOfSpeech {
    -fx-font-style: italic;
    -fx-font-family: "Arial";
    -fx-text-fill: #FFFFFF;
}
.label-labelDescription {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20;
}

.label-labelWeight {
    -fx-font-family: "Arial";
    -fx-text-fill: #FFFFFF;
}
.radio-button {
    -fx-background-color: transparent;
}

