

.tab-pane-wordPane {
    -fx-background-radius: 40;
    -fx-background-color: #F5F8FA;
}

.scroll-pane {
    -fx-background-radius: 40;
    -fx-background-color: #F5F8FA;
    -fx-text-fill: #444766;
}

.label-labelPartOfSpeech {
    -fx-font-style: italic;
    -fx-font-family: "Arial";
}

.label-labelWeight {
    -fx-font-family: "Arial";
}
.radio-button {
    -fx-background-color: transparent;
}

